<launch>
    <arg name="manager_name" default="livox_manager"/>

    <arg name="config" default="$(find livox_ros_driver)/config/livox_ros_driver.yaml"/>

    <node name="$(arg manager_name)" pkg="nodelet" type="nodelet" args="manager"  output="screen"/>

    <node name="livox_lidar" pkg="nodelet" type="nodelet"
          args="load livox_ros_driver/LivoxRosDriverNodelet $(arg manager_name)" output="screen">
        <rosparam command="load" file="$(arg config)"/>
    </node>

</launch>
